.desktop {
  background: #f9f9f9;

  &__header {
    min-height: 65px;
    background: #fff;
  }

  &__main {
    display: grid;
    grid-template-columns: 172px 1fr;

    &__sidebar {
      width: 285px;
    }

    &__content {
      // width: calc(100% - 285px);
      display: grid;
      grid-template-columns: repeat(4, 188px);
      gap: 15px;
      padding: 15px;

      &__related {
        background: #fff;
      }

      &__feed {
      }
    }
  }
}
